</main>

<footer class="footer">
    <div class="footer-content">
        <!-- <p id="time"></p>
        <p id="location"></p> -->
        <p class="footer-text">Made with ❤️ by SAP.</p>
        <p class="footer-text">&copy;.MIT License. All rights reserved.</p>
    </div>

    <script>
        // Function to display current time
        function displayTime() {
            var time = new Date().toLocaleTimeString();
            document.getElementById('time').innerHTML = time;
        }

        // Call the function to display time
        displayTime();
    </script>
</footer>
</body>
</html>
