<!-- create header ejs file content below -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/android-chrome-192x192.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <title>RandoNaGe-Generate Names on The Go!!</title>
</head>
<body>
<main>
<!-- create navbar ejs file content below -->
<%- include("./navbar.ejs") %>