<nav class="navbar">
    <a href="/" class="logo">
        <img src="images/mustang-4k.png" alt="Tech Image">
    </a>
    <div class="menu">
        <a href="/">Home</a>
        <a href="https://linktr.ee/sap_302" target="_blank" >About</a>
        <a href="/slogan">Slogan Generator</a>
        <a href="/">Contact</a>
    </div>
</nav>